/* Imports */

@import url("base.css");

/* General Page Styles */

body {
  overflow: hidden;
}

hr {
  border-top: none;
  border-bottom: 1px gray dotted;
  margin-top: 0;
}

/* Main Controls */

.main_controls {
  text-align: center;
  white-space: nowrap;
}

.main_controls>span {
  text-align: left;
  color: #849ccb;
  cursor: pointer;
  margin: 0px 30px;
}

.page_controls>span {
  color: #849ccb;
  margin-top: 10px;
  margin-left: 50px;
  width: auto;
  text-align: right;
  cursor: pointer;
}

.main_controls>span:hover, .page_controls>span:hover {
  text-shadow: #849ccb 0px -1px 0px;
}

.main_controls>span img, .page_controls>span img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.main_controls>span.inactive {
  color: #999;
  cursor: default;
}

.main_controls>span.inactive:hover {
  text-shadow: none;
}

#monitor_page.inprogress {
  cursor: progress;
}

/* Loading Bar */

.loading {
  width: 100%;
}

.loading_spacer {
  height: 49px;
}

.loading_spacer td {
  background: url('../img/loader.gif') center 16px no-repeat;
}

/* Fixes */

.notification div {
  /* Needed to avoid jQuery animation stutter. */
  min-width: 10px;
}
